Package                      Version
---------------------------- -----------
googletrans                  4.0.0rc1
gTTS                         2.3.2
keras                        2.13.1
Keras-Applications           1.0.8
Keras-Preprocessing          1.1.2
nltk                         3.8.1
numpy                        1.24.3
pandas                       2.0.2
Pillow                       9.5.0
playsound                    1.2.2
PyAudio                      0.2.13
SpeechRecognition            3.10.0
streamlit                    1.23.1
streamlit-lottie             0.0.5
streamlit-option-menu        0.3.6
tensorflow                   2.13.0
tqdm                         4.65.0
